.container--gray {
  margin-top: 50px;
  padding: 50px;
  background-color: var(--color-gray);
  border-radius: 20px;

  @include mobile {
    padding: 25px;
  }

  p:first-of-type {
    font-weight: 700;
  }
}

.faq-list {
  list-style-type: none;

  li {
    padding: 25px 70px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;

    @include mobile {
      padding: 25px 0;
    }

    p:first-of-type {
      font-weight: 700;
      margin-bottom: 10px;
    }

    +li {
      border-top: 1px solid var(--color-light-gray);
    }
  }
}